.page-dashboard {
    display: flex;
}

.dashboard-column {
    /*width: 18%;*/
    /*background-color: #ffdede;*/
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
}

.board-separator {
    width: 2px;
    background-color: #e9e3e3
}

.options-menu select
{
  width: 400px;
}