.logo-img {
  height: 61px;
  padding: 5px;
}

.nav-wrapper {
  display: flex;
  height: 65px;
  background: linear-gradient(264.1deg, #188DE2 49.75%, #66BFFF 81.84%), #66BFFF;

}

#menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-left: auto;
}

#menu>li:hover {
  background-color: #A4D7FC;
  transition: all 0.5s;
}

#menu>li {
  width: 100px;
  text-align: center;
  line-height: 65px;
  border-radius: 50px;
}

#menu>li>a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #66BFFF;
}